@import "settings";
@import "mixins";

.index{
    display: flex;
    justify-content: space-between;

    .right-nav{
        width: 90px;
        background-color: var(--primary-color);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .links{
            //background-color: red;
            writing-mode: vertical-rl;
            max-height: 25rem;
            display: flex;
            justify-content: space-between;
            a{
                margin: 13px 0;
                color: var(--base-text);
                text-decoration: none;
                transition: 0.7s ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
            }
        }

        @include tablet{
            display: none;
        }
    }
}