@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');


*:focus{
    outline: none;
}

*{
    box-sizing: border-box;
}

.bold{
    font-weight: 600;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.cabin{
    font-family: 'Cabin', sans-serif;
}

.cherokee{
    font-family: 'PT Serif', serif;
}

.krona{
    font-family: 'Krona One', sans-serif;
}
.red{
    background-color: red;
}

.blue{
    background-color: cyan;
}

.green{
    background-color: orange;
}