@import "settings";
@import "mixins";

.index{
    display: flex;
    justify-content: space-between;

    .right-nav{
        width: 90px;
        background-color: var(--primary-color);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .links{
            //background-color: red;
            writing-mode: vertical-rl;
            max-height: 25rem;
            display: flex;
            justify-content: space-between;
            a{
                margin: 13px 0;
                color: var(--base-text);
                text-decoration: none;
                transition: 0.7s ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
            }
        }

        @include tablet{
            display: none;
        }
    }

    .content{
        width: 100%;
        .logo-top-wrapper{
            font-size: 25px;
            padding: 13px 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .logo{
                height: 40px;
                @include lightTheme{
                    path{
                        stroke: var(--primary-color);
                    }
                }

                @include darkTheme{
                    path{
                        stroke: #fff;
                    }
                }
            }
        }
    }
}